.MyChatView{
    display: none;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns: auto auto auto auto;
    overflow-y: auto;
    max-height: 100%;
    opacity: 0;
    top:5%;
    margin-top: 7%;
    height: 85vh;
}