#ShopProductView{
    opacity: 1;
    display: none;
    width: 100%;
    height: 100%;
}
#BackgroundSection{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: #BEBEBE;
}
#OperationSection #AddtoCart:hover{
    background-color: green;
}
#OperationSection #AddtoCart{
    margin:0;
}


#BackgroundSection img{
    position: absolute;
    float: right;
    width: 30%;
    height: 70%;
    top:30%;
    right:5%;
    object-fit: cover;
}

#BackgroundSection h1{
    font-family: myFirstFont; 
    font-style: italic;
    position: relative;
    float:left;
    color: #404040;
    top:50%;
    left:5%;
    font-size: 1.8em;
}

#BackgroundSection h2{
    font-family: myFirstFont; 
    font-style: italic;
    position: absolute;
    float: left;
    color: #404040;
    top: 70%;
    font-size: 6vh;
    margin-left: 2%;
    width: 60%;
}

#OperationSection{
    position: relative;
    width: 100%;
    height: 50%;
}

#OperationSection button{
    font-style: italic;
    font-family: myFirstFont; 
    background-color: #404040;
    width: 25vh;
    box-shadow: #000000 0 0 2vh inset;
    box-sizing: border-box;
    appearance: none;
    color:white;
    border-radius: 5vh;
    border: 0 none;
    height:7vh;
    position: relative;
    display: inline-block;
    cursor: pointer;
    letter-spacing: -.24px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 0 4vh;
    top: 2%;
    transition: 0.4s;
}

#OperationSection button:focus{
    background-color: #3E99CF;
}

#OperationSection button:hover{
    background-color: #3E99CF;
    box-shadow: #000000 0 0 2vh inset;
    box-sizing: border-box;
}


#ShopProductView .backButton{

    position: absolute;
    z-index: 1;
    top: 10%;
    left: 7%;
    width: 7vh;
    height: 7vh;
    background-color: #232425;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    transition: 0.4s;

}

#ShopProductView #backButton{
    background: none;
    color: white;
    padding-top: 10%;
    border: none;
}

#ShopProductView .backButton:hover{
    background-color: #3E99CF;
    box-shadow: #000000 0 0 2vh inset;
    box-sizing: border-box;
}


#ShopProductView #ShopProductViewContainer{
    height: 37vh;
    position: relative;
    width: 98%;
    border-radius: 2vh;
    background-color: #232425;
    opacity: 0.97;
    color: white;
    padding: 2%;
    font-size: 0.85em;
    overflow-y: scroll;
}

#DescriptionContainer{
    opacity:1;
    display:block;
}

#ReviewsContainer{
    opacity:0;
    display:none;
}

#BuyContainer{
    opacity:0;
    display:none;
}

.AddtoCart:hover{
    background-color: green;
}