
.search{
    z-index:1;
}

.search input{
    position: relative;
    background-color: #404040;
    height: 90%;
    width: 88%;
    margin-left: 5vh;
    border-radius: 1vh;
    padding: 1.3%;
    padding-top: 1.4%;
    font-size: 1.1em;
    border-style: solid;
    padding-left: 10vh;
    border-color: transparent;
    color: #bfbfbf;
    float: left;
    font-family: myFirstFont;
    transition: 0.4s;
    font-style: italic;
}

.search input:focus{
    background-color:#3E99CF;
    color: #232425;
}

.search input:focus::placeholder{
    color: #232425;
    opacity: 1;
}


/*Search css*/
.search{
    float: left;
    left: 10%;
    width: 80%;
    position: absolute;
    top: 4vh;
}

.Lente{
    position: relative;
    float:left;
    width: 6vh;
    height: 6vh;
    top: 1vh;
    left:13vh;
    border-radius: 50vh;
    z-index: 1;
}

#back{
    width: 7vh;
    height: 7vh;
    margin-top: 4vh;
    margin-left:2vh;
    background-color: #232425;
    border-radius:50%;
    color: white;
    font-weight: bold;
    font-size: x-large;
}



@media screen and (max-width: 480px) {
    .search{
        z-index:1;
    }
    
    .search input{
        position: relative;
        background-color: #404040;
        height: 90%;
        width: 98%;
        margin-top: 20%;
        margin-left: 0vh;
        border-radius: 1vh;
        padding: 3.3%;
        padding-top: 5%;
        font-size: 1.1em;
        border-style: solid;
        padding-left: 5vh;
        border-color: transparent;
        color: #bfbfbf;
        float: left;
        font-family: myFirstFont;
        transition: 0.4s;
        font-style: italic;
    }
    
    .search input:focus{
        background-color:#3E99CF;
        color: #232425;
    }
    
    .search input:focus::placeholder{
        color: #232425;
        opacity: 1;
    }
    
    
    /*Search css*/
    .search{
        float: left;
        left: 12%;
        width: 80%;
        position: absolute;
        top: 4vh;
    }
    
    .Lente{
        position: relative;
        float:left;
        width: 4vh;
        height: 4vh;
        top: 11.4vh;
        left:1vh;
        border-radius: 50vh;
        z-index: 1;
    }
    
    #back{
        width: 7vh;
        height: 7vh;
        margin-top: 4vh;
        margin-left:2vh;
        background-color: #232425;
        border-radius:50%;
        color: white;
        font-weight: bold;
        font-size: x-large;
    }
}    