#ArtistView{
    opacity: 1;
    display: none;
    width: 100%;
    height: 100%;
    font-family: myFirstFont;
    font-style: italic;
}

#ArtistView .backButton{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 7%;
    width: 6vh;
    height: 6vh;
    background-color: #232425;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    transition: 0.4s;

}

#ArtistView #backButton{
    background: none;
    color: white;
    padding-top: 10%;
    border: none;
}

#ArtistView .backButton:hover{
    background-color: #3E99CF;
    box-shadow: #000000 0 0 2vh inset;
    box-sizing: border-box;
}


#ArtistView #ArtistContainer{
    margin-top: 2%;
    margin-left: 1%;
    left: 0%;
    height: 38vh;
    position: relative;
    width: 98%;
    border-radius: 2vh;
    background-color: #232425;
    opacity: 0.97;
    color: white;
    padding: 2%;
    font-size: 0.85em;
    overflow-y: scroll;
}

#BackgroundS{
    position: relative;
    width: 110%;
    height: 400px;
    background-color: #BEBEBE;
    right: 2%;
}

#BackgroundS img{
    position: absolute;
    float: right;
    width: 30%;
    height: 100%;
    top:0%;
    right:5%;
    object-fit: cover;
}

#BackgroundS h1{
    font-family: myFirstFont; 
    font-style: italic;
    position: relative;
    float:left;
    color: #404040;
    top:55%;
    left:5%;
    font-size: 5vh;
}

#BackgroundS h2{
    font-family: myFirstFont; 
    font-style: italic;
    position: absolute;
    float: left;
    color: #404040;
    top: 65%;
    font-size: 18vh;
    margin-left: 2%;
    width: 60%;
}

#OperationS #AddtoCart:hover{
    background-color: green;
}
#OperationS #AddtoCart{
    margin:0;
}

#OperationS{
    position: relative;
    width: 100%;
    height: 50%;
}

#OperationS button{
    left: 4%;
    font-style: italic;
    font-family: myFirstFont; 
    background-color: #404040;
    width: 14vh;
    /*box-shadow: #000000 0 0 2vh inset;*/
    box-sizing: border-box;
    appearance: none;
    color:white;
    border-radius: 1.5vh;
    border: 0 none;
    height:5vh;
    position: relative;
    display: inline-block;
    cursor: pointer;
    letter-spacing: -.24px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    top: 2%;
    transition: 0.4s;
}

#OperationS button:focus{
    background-color: #3E99CF;
}

#OperationS button:hover{
    background-color: #3E99CF;
    box-shadow: #000000 0 0 2vh inset;
    box-sizing: border-box;
}

#DescriptionC{
    opacity:1;
    display:block;
}

#ReviewsC{
    opacity:0;
    display:none;
}

#bio{
    opacity:0;
    display:none;
}

.AddtoCart:hover{
    background-color: green;
}

#songView{
    width: 100%;
    height: 50%;
    
}

.songElement{
    width: 102%;
    height: 100px;
    position: relative;
    float: left;
    border-bottom: 2vh;
    background-color: #404040;
    margin-bottom: 2%;
    font-size: 1.5rem;
    overflow: hidden;
    border-radius: 4.5vh;
}

.songImg{
    width: 6%;
    height: 70%;
    border-radius: 3.5vh;
    float: left;
    position: relative;
    margin-left: 2%;
    margin-top: .8%;
    overflow: hidden;
    box-shadow: 8px 10px 5px rgb(49, 49, 49);
}

.songImg img{
    width: 100%;
    height: 100%;
}

.info{
    width: 90%;
    height: 100%;
    position: relative;
    float: left;
    font-size: 1.5em;
    padding-top: 3%;
}

.titleSong{
    float: left;
    width: 40%;
    position: relative;
    padding-left: 2%;
    font-size: 2.0rem;
}

.visual{
    float: left;
    position: relative;
    left: 30%;
    width: 10%;
    font-size: 2.0rem;
}

.duration{
    float: left;
    position: relative;
    left: 39%;
    width: 10%;
    font-size: 2.0rem;
}

.likeButton{
    float: left;
    position: relative;
    width: 3%;
    left: 34%;
}


.albumElement{
    width: 20%;
    height: 220px;
    position: relative;
    float: left;
    border-bottom: 2vh;
    background-color: #404040;
    margin-bottom: 2%;
    font-size: 1.5rem;
    overflow: hidden;
    border-radius: 4.5vh;
}

.albumImg{
    width: 60%;
    height: 65%;
    border-radius: 3.5vh;
    position: relative;
    margin-left: 20%;
    margin-top: 5%;
    overflow: hidden;
    box-shadow: 8px 10px 5px rgb(49, 49, 49);
}

.infoAlbum{
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1.5em;
    padding-top: 3%;
    text-align: center;
    left: 27%;
}

.albumTitle{
    width: 40%;
    position: relative;
    padding-left: 2%;
    font-size: 1.4rem;
}

.albumImg img{
    width: 100%;
    height: 100%;
}

.albumYear{
    text-align: center;
    width: 40%;
    position: relative;
    padding-left: 2%;
    font-size: 1.0rem;
}