.UserView {
    display: none;
    background-color: #3e99cf;
    width: 30%;
    height: 100%;
    border-radius: 0 0 50%0;
    position: absolute;
    z-index: 30;
    float: left;
    padding-top: 3vh;
    padding-left: 1vh;
    margin-bottom: 2vh;
    opacity: 0
}

.Welcome {
    font-weight: 700;
    left: 15%;
    margin: 0;
    padding: 0;
    top: 2%;
    font-size: 150%;
    position: relative
}

.UserInfo {
    margin-top: 10%;
    position: absolute;
    float: left;
    font-size: 120%;
    font-weight: 700;
}
.UserView{
    height: 550%;
    width: 30%;
}

.UserDiv img,.UserView img {
    cursor: pointer
}