.ChatView, .MyChatView{
    display: none;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns: auto auto auto auto;
    overflow-y: auto;
    max-height: 100%;
    opacity: 0;
    top:5%;
    margin-top: 1.5%;
    height: 98%;
}



#chats{
    display: grid;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns: auto auto auto auto;
    overflow-y: auto;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}


.Chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    float:left;
}

.Chat img {
    max-width: 38vh;
    cursor: pointer;
    height: 38vh;
}

.Chat p{
    margin: auto;
    z-index: 1;
    position: absolute;
    color:white;
    font-weight: bold;
    font-size: x-large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    Cursor: pointer;
}
