.ChatMessage{
    display: none;
    color: white;
    background-color: transparent;
    border-radius: 5vh;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    font-style: normal;
}

.ChatMessage .searchTerm{
    width: auto;
}

.ChatMessage .searchTerm input{
    background-color: white;
    width: 75.5%;
    margin-left: 6%;
    border-style: solid;
    border-width: 0.2em;
    padding-right: 6vh;
    padding-left: 2vh;
    border-color: transparent;
    margin-bottom: 3%;
    position: absolute;
    bottom: 0;
    padding: 0.7%;
    padding-left: 2%;
    padding-top: 0.8%;
    border-radius: 1vh;
    color: #bfbfbf;
    background-color: #404040;
    font-family: myFirstFont; 
    transition: 0.1s;
    font-style: italic;
    font-size: 1.2em;
}

.ChatMessage .searchTerm input:focus{
    background-color: white;
    color: #232425;
}

.ChatMessage .searchTerm input:focus::placeholder{
    color: #232425;
    opacity: 1;
}



.ChatMessage .searchTerm button{
    width: auto;
    width: 9.5vh;
    height: 9.5vh;
    background-color: #232425;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    position: absolute;
    margin-bottom: 2.7%;
    bottom: 0;
    right: 12%;
}

.ChatMessage .title{

    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    margin-left: 6%;
    width: 82%;
    background-color: #404040;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    padding: 1%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    justify-content: space-between;
    align-items: center;
}

.ChatMessage .title .left{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 90vh;
}

.ChatMessage .title img{
    width: 35%;
    height: 60%;
    margin: 1%;
}


.ChatMessage .title i{
    color: #3E99CF;
    text-decoration: underline;
}

.ChatMessage .title span{
    font-size: 0.5em;
}

.ChatMessage .titleName{
    margin: 1%;
}

.ChatMessage .chatContainer{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
}

.ChatMessage .chatContainer #ChatList{
    min-height: 50vh;
    overflow-y: auto;
    max-height: 65vh;
    width: 94%;
}

.chatContainer .MessageBox{
    margin: 1%;
    margin-bottom: 0%;
    padding: 1.5%;
    border-radius: 1vh;
    min-width: auto;
    word-break: break-all;
    font-size: 0.9em;
    
}

.chatContainer .OtherMessageBox{
    background-color: #404040;
    color: antiquewhite;
}

.chatContainer .MyMessageBox{
    background-color: #3E99CF;
    color: antiquewhite;
}

.ChatMessage .title #backButton{ 
    width: 5vh;
    height: 5vh;
    position: relative;
    background-color: #232425;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    transition: 0.3s;
}

#sendButton{
    transition: 0.3s;
}

.ChatMessage #backButton:hover, .ChatMessage #sendButton:hover{
    background-color: #3E99CF;
    box-shadow: #000000 0 0 2vh inset;
    box-sizing: border-box;
}


#ChatList .ChatMex{
    display: flex;
}

#ChatList .ChatMex:has(.MessageBox) { 
    justify-content: flex-end;
}

#ChatList .ChatMex:has(.OtherMessageBox) { 
    justify-content: flex-start;
}

.ChatMex .sender{
    font-weight: bold;
    font-size: 1.1em;
}

.ChatMex .OtherMessageBox .sender{
    color: #3E99CF;
}

.ChatMex .MyMessageBox .sender{
    color: #1a1a1a;
}

.ChatMex .date{
    font-size: 0.7em;
    margin-top: 2%;
    text-align: right;
}



.right{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: end;
    width: 40%;
    margin-right: 1%;
}


#leaveText {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    font-size: 0.7em;
    width: 23vh;
    padding: 2%;
    padding-left: 3%;
    cursor: pointer;
    transition: 0.4s;

    box-shadow: #000000 0 0 1.5vh inset;
    box-sizing: border-box;
    border-radius: 1vh;
    justify-content: center;
}

#ImgExit{
    width: 4vh;
    height: 4vh;
    margin-left: 1vh;
}

#leaveText:hover{
    color: rgb(213, 61, 61);
    box-shadow: #aa1515 0 0 1vh inset;
    background-color: #aa15153e;
    text-decoration: underline;
}

#chatJoin{
    text-align: center;
    background-color:#232425;
    box-shadow: #11425f 0 0 3vh inset;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    margin-top: 5vh;
    margin-bottom: 1.1vh;
    width: 82%;
    margin-left: 6%;
    border-radius: 1vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    transition: 0.4s;
    cursor: pointer;
}

#chatJoin:hover{
    color: #3E99CF;
    text-decoration: underline;
    box-shadow: #2876a3 0vh 0vh 5vh inset;
    background-color:#232425dd;
}






@media screen and (max-width: 480px) {

    .chatContainer .OtherMessageBox{
        width: 100%;
    }

    .titleName{
        width: 100%;
        left: -12%;
        position: relative;
    }

    .titleName span{
        top: 5%;
        left: 30%;
        position: relative;
    }

    .ChatMessage{
        color: white;
        background-color: transparent;
        border-radius: 5vh;
        min-height: 100%;
        max-height: 120%;
        position: relative;
        font-style: normal;

    }
    
    .ChatMessage .searchTerm{
        width: auto;
    }
    
    .ChatMessage .searchTerm input{
        background-color: white;
        width: 75.5%;
        margin-left: 6%;
        border-style: solid;
        border-width: 0.2em;
        padding-right: 6vh;
        padding-left: 2vh;
        border-color: transparent;
        margin-bottom: 3%;
        position: absolute;
        bottom: 0;
        padding: 0.7%;
        padding-left: 2%;
        padding-top: 0.8%;
        border-radius: 1vh;
        color: #bfbfbf;
        background-color: #404040;
        font-family: myFirstFont; 
        transition: 0.1s;
        font-style: italic;
        font-size: 1.2em;
    }
    
    .ChatMessage .searchTerm input:focus{
        background-color: white;
        color: #232425;
    }
    
    .ChatMessage .searchTerm input:focus::placeholder{
        color: #232425;
        opacity: 1;
    }
    
    
    
    .ChatMessage .searchTerm button{
        width: auto;
        width: 9.5vh;
        height: 9.5vh;
        background-color: #232425;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        font-size: x-large;
        text-align: center;
        position: absolute;
        margin-bottom: 2.7%;
        bottom: 0;
        right: 12%;
    }
    
    .ChatMessage .title{
    
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        width: 92%;
        background-color: #404040;
        border-radius: 1vh;
        display: flex;
        flex-direction: row;
        padding: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        justify-content: space-between;
        align-items: center;
    }
    
    .ChatMessage .title .left{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        width: 90vh;
    }
    
    .ChatMessage .title img{
        width: 35%;
        height: 60%;
        margin: 1%;
    }
    
    
    .ChatMessage .title i{
        color: #3E99CF;
        text-decoration: underline;
    }
    
    .ChatMessage .title span{
        font-size: 0.5em;
    }
    
    .ChatMessage .titleName{
        margin: 1%;
    }
    
    .ChatMessage .chatContainer{
        margin-left: 4%;
        margin-top: 5%;
    }
    
    .ChatMessage .chatContainer #ChatList{
        min-height: 50vh;
        overflow-y: auto;
        max-height: 65vh;
        width: 94%;
    }
    
    .chatContainer .MessageBox{
        margin: 1%;
        margin-bottom: 0%;
        padding: 1.5%;
        border-radius: 1vh;
        min-width: auto;
        word-break: break-all;
        width: 64%;
        left: -1%;
        position: relative;
    }
    
    .chatContainer .OtherMessageBox{
        background-color: #404040;
        color: antiquewhite;
    }
    
    .chatContainer .MyMessageBox{
        background-color: #3E99CF;
        color: antiquewhite;
    }
    
    .ChatMessage .title #backButton{ 
        width: 5vh;
        height: 5vh;
        position: relative;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        font-size: x-large;
        text-align: center;
        transition: 0.3s;
    }
    
    #sendButton{
        transition: 0.3s;
        width: 5vh;
        height: 5vh;
    }
    
    .ChatMessage #backButton:hover, .ChatMessage #sendButton:hover{
        background-color: #3E99CF;
        box-shadow: #000000 0 0 2vh inset;
        box-sizing: border-box;
    }
    
    
    #ChatList .ChatMex{
        display: flex;
    }
    
    #ChatList .ChatMex:has(.MessageBox) { 
        justify-content: flex-end;
    }
    
    #ChatList .ChatMex:has(.OtherMessageBox) { 
        justify-content: flex-start;
    }
    
    .ChatMex .sender{
        font-weight: bold;
        font-size: 1.1em;
    }
    
    .ChatMex .OtherMessageBox .sender{
        color: #3E99CF;
    }
    
    .ChatMex .MyMessageBox .sender{
        color: #1a1a1a;
    }
    
    .ChatMex .date{
        font-size: 0.7em;
        margin-top: 2%;
        text-align: right;
    }
    
    
    
    .right{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: end;
        width: 40%;
        margin-right: 1%;
    }
    
    
    #leaveText {
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-right: 5%;
        font-size: 0.5em;
        width: 10vh;
        cursor: pointer;
        transition: 0.4s;
        box-shadow: #000000 0 0 1.5vh inset;
        box-sizing: border-box;
        border-radius: 1vh;
    }
    
    #ImgExit{
        width: 4vh;
        height: 4vh;
        margin-left: 1vh;
    }
    
    #leaveText:hover{
        color: rgb(213, 61, 61);
        box-shadow: #aa1515 0 0 1vh inset;
        background-color: #aa15153e;
        text-decoration: underline;
    }
    
    #chatJoin{
        text-align: center;
        background-color:#232425;
        box-shadow: #11425f 0 0 3vh inset;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        margin-top: 5vh;
        margin-bottom: 1.1vh;
        width: 82%;
        margin-left: 6%;
        border-radius: 1vh;
        padding-top: 4vh;
        padding-bottom: 4vh;
        font-size: 1.4em;
        font-style: italic;
        font-weight: bold;
        transition: 0.4s;
        cursor: pointer;
    }
    
    #chatJoin:hover{
        color: #3E99CF;
        text-decoration: underline;
        box-shadow: #2876a3 0vh 0vh 5vh inset;
        background-color:#232425dd;
    }
}    