.UserView {
    display: none;
    opacity: 0;
}

.UserView p{
    font-family: myFirstFont;
    padding-top: 5.5vh;
    padding-left: 2vh;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.5px;
    color: #BFBFBF;
}

.UserView h1{
    font-family: myFirstFont;
    padding-top: 5.5vh;
    padding-left: 2vh;
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.5px;
    color: #BFBFBF;
}

.BlueRectangle {
    position: relative;
    width: 40vh;
    height: 30vh;
    left: 50vh;
    top: 10vh;
    background: #3E99CF;
    border-radius: 30px;
}

.BlueRectangle .UserImage{
    position: relative;
    width: 35vh;
    height: 25vh;
    top: 2.5vh;
    left: 2.5vh;
    border-radius: 30px;
    
}
.GreyMiniRectangle {
    position: relative;
    width: 40vh;
    margin-bottom: 2vh;
    height: 14vh;
    left: 95vh;
    top: -20vh;
    background: #404040;
    border-radius: 30px;
    padding-left: 1%;
}

.GreyRectangle {
    position: relative;
    width: 85vh;
    height: 55vh;
    left: 50vh;
    top: -20vh;
    background: #404040;
    border-radius: 30px;
    padding-left: 1%;
}


#logoutButton {
    cursor: pointer;
    box-shadow: #000000 0 0 0.1vh inset;
    box-sizing: border-box;
    justify-content: center;
    transition: 0.4s;
}


#logoutButton:hover{
    color: rgb(213, 61, 61);
    box-shadow: #aa1515 0 0 1vh inset;
    background-color: #aa15153e;
}