@font-face { 
  font-family: myFirstFont; 
  src: url("src/font/ATTriumvirate-CondensedBlac.ttf"); 
} 

::-webkit-scrollbar:horizontal{
  height: 8px;
}

::-webkit-scrollbar-thumb:horizontal{
  border-radius: 10px;
}


#All {
  display: none;
}

body {
  background-image: linear-gradient(top right,#232425 3%,#aacfef 100%)!important;
  background-color: #232425!important;
}

.View {
  background-color: transparent;
  left:8%;
  width: 92%;
  height: 100%;
  position: absolute;
  float: left;
  z-index:-9;
}

#All,#root {
  height: 0
}

.ChatRow,.MerchRow,.TicketRow,.VinylRow {
  width: 100%;
  height: 27vh;
  position: relative
}

.description {
  margin-left: 5vh
}

.Menu+View,.Search-User {
  display: flex;
  flex-direction: row
}

::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
  background: #555
}

/*background*/
#All{
  z-index: 4;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #1a1a1a;
  overflow: hidden;
}
#All .air{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* background: url("http://0.0.0.0:5173/src/img/wave.png");*/
  background-size: 1000px 100px
}
#All .air.air1{
  animation: wave 30s linear infinite;
  z-index: -97;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
#All .air.air2{
  animation: wave2 15s linear infinite;
  z-index: -98;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
#All .air.air3{
  animation: wave 30s linear infinite;
  z-index: -99;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
#All .air.air4{
  animation: wave2 5s linear infinite;
  z-index: -100;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px;
  }
}
@keyframes wave2{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1000px;
  }
}

.Search-User{
  z-index: -6;
  position: relative;
}
#Search-User{
  z-index: -6;
}


#BluBackGorund{
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900');
@mixin leftPos($count){
  @for $i from 1 through $count {
  &:nth-child(#{$i}) {
    left:((($i)-2)*13)-1%;
  }
  }
}
.liquidContainer{
  z-index: 10000;
  display:none;
  height:100vh;
  width:100%;
  background: transparent;
  overflow:hidden;
  position:absolute;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.text{
  position:absolute;
  left:50%;
  top:45%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:#6cd2ff;
  font-size:64px;
  font-weight:900;
}
.liquid{
  width:120%;
  height:10px;
  position:absolute;
  top:-2%;
  left:-10%;
  background:#3E99CF;
  border-radius:10%;
  animation: liquid 3s forwards;
}

.blobs{
  filter:url('#goo');
  width:100%;
  height:100%;
  position:relative;

.blob{
  width:30px;
  height:30px;
  margin:0 5px 0px 0;
  background:#3E99CF;
  border-radius:50%;
  position:absolute;
  top:0;
  @include leftPos(9);
  animation: drip_one 3s forwards;

&:nth-of-type(4n-7){
   width:65px;
   animation: drip_four 3s forwards;
 }
&:nth-of-type(3n-2){
   width:26px;
 }
&:nth-of-type(2){
   width:22px;

 }
&:nth-of-type(8){
   animation: drip_five 3s infinite;
 }
&:nth-of-type(4n+2){
   height:56px;
   animation: drip_two 3s infinite;
 }
&:nth-of-type(6n-2){
   height:42px;
   animation: drip_three 3s infinite;
 }


}

}

@keyframes drip_one{
  from{top:0;}
  to{top:103%;}
}
@keyframes drip_two{
  from{top:0;}
  to{top:104%;}
}
@keyframes drip_three{
  from{top:0;height:52px;}
  to{top:102%;height:132px;}
}
@keyframes drip_four{
  from{top:0;width:65px;height:30px;}
  to{top:102%;width:75px;height:45px;}
}
@keyframes drip_five{
  from{top:0;height:30px;}
  to{top:102%;height:72px;}
}
@keyframes liquid{
  from{height:15px;}
  to{height:109%;}
}









